/* for mobile */

    @media (max-width: 576px) {
     .nav-container{
        flex-direction: column;
     }
     .nav-logo-container{
        width: 100%;
     }
     .nav-items{
        width: 100%;
        flex-direction: column;
     }
     .nav-left {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 103px;
        
    }
    #nav-1-1 {
        margin-top: 62px;
    }
    #nav-1-2{
        margin-top: 36px;
        margin-bottom: 79px;
    }
    .follow-us{
        margin-bottom: 78px;
    }
    }
