/* for mobile */

@media (max-width: 576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-logo-container {
        width: 100%;
    }

    .nav-items {
        width: 100%;
        flex-direction: column;
    }

    .nav-left {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 103px;

    }

    #nav-1-1 {
        margin-top: 62px;
    }

    #nav-1-2 {
        margin-top: 36px;
        margin-bottom: 79px;
    }

    .follow-us {
        margin-bottom: 78px;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        height: auto;
    }

    .banner-left {
        width: 100%;
        height: 400px;
        justify-content: center;
        align-items: center;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-goat-title {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        right: 5px;
    }

    .banner-left-details p {
        font-size: 1.2rem;
        padding: 0;
        margin-top: 0;
    }

    .sign-btn {
        font-size: 1.2rem;
        padding: 10px;
    }

    .rogue-btn {
        font-size: 1.2rem;
        padding: 10px;
    }

    .btn {
        margin-top: 5px;
        margin-bottom: 10px;

    }

    .banner-right {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;

    }

    .banner-left-details p {
        padding-bottom: 0;
    }

    .banner-right img {
        width: 100%;
        object-fit: cover;
    }

    .online-funny-video {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .funny-img {
        flex-direction: column;
        align-items: center;
        width: 100%;
        object-fit: cover;
        padding: 0;
        margin: 0;
    }

    #p-1,
    #p-2,
    #p-3,
    #p-4 {
        margin: auto;
    }

    .play-instantly {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .right {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .left {

        margin-top: 80px;
        margin: 80px auto 0px;

    }

    .left-title {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .right img {
        width: 80%;
        margin: 0;
        padding: 0;
        margin-left: 50px;
        object-fit: fill;
        /* margin-left: 50px; */
    }

    .box-img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin: 0;
        padding: 0;
        object-fit: cover;
        border: 1px solid #FFF;
        position: relative;
        bottom: 200px;
        right: 0px;
    }

    

    .games-types,
    .games-types-details {
        margin: 0;
        padding: 0;
        width: 100%;
    
    }


    .footer-container{
        margin-top: 170px;
        flex-direction: column;
    }
    .footer-2{

        flex-direction: column;
    }
    .footer-3{
        flex-direction: column;

    }
    .footer-4 {
        flex-direction: column;
    }
    .footer-5{
        flex-direction: column;
    }

}