/* Work Sans added */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar design starts here */
.nav-container {
    min-height: 130px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
}

.nav-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
}

.nav-left img {
    width: 86.041px;
    height: 40px;
    object-fit: cover;

}

.nav-left p {
    text-align: center;
    font-size: 2.81rem;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
}

#nav-g {
    color: #FF42A5;
}

.nav-items {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.13rem;
    font-weight: 500;
}

.follow-us {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* nav bar design ends here */
/* banner design start here */
.banner-container {
    height: 700px;
    background-color: #FFF;
    display: flex;
}

.banner-left {
    width: 50%;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-goat-title {
    text-align: center;
    font-size: 5.94rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 24px;
    margin-top: 0px;
}

.banner-left-details p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 17px;
    position: relative;
    left: 8px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 41px;
}

.sign-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 21px 40px;
    border: none;
}

.rogue-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background-color: #4EC5F7;
    padding: 21px 40px;
    border: none;
}

.banner-right {
    display: flex;
    width: 50%;
    margin-left: 40px;
}

.banner-right img {
    height: 100%;
}

/* banner design end here */