/* Work Sans added */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar design starts here */
.nav-container {
    min-height: 130px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
}

.nav-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
}

.nav-left img {
    width: 86.041px;
    height: 40px;
    object-fit: cover;

}

.nav-left p {
    text-align: center;
    font-size: 2.81rem;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
}

#nav-g {
    color: #FF42A5;
}

.nav-items {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.13rem;
    font-weight: 500;
}

.follow-us {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* nav bar design ends here */
/* banner design start here */
.banner-container {
    height: 700px;
    background-color: #FFF;
    display: flex;
}

.banner-left {
    width: 50%;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-goat-title {
    text-align: center;
    font-size: 5.94rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 24px;
    margin-top: 0px;
}

.banner-left-details p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 17px;
    position: relative;
    left: 8px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 41px;
}

.sign-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 21px 40px;
    border: none;
}

.rogue-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background-color: #4EC5F7;
    padding: 21px 40px;
    border: none;
}

.banner-right {
    display: flex;
    width: 50%;
    margin-left: 40px;
}

.banner-right img {
    height: 100%;
}

/* banner design end here */

/* online-funny-video section start here */

.online-funny-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 100px;
}

.funny-video-title {
    color: #0B0223;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

#funny-id {
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.funny-video-desc p {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}

.funny-video-des {
    height: 30px;
    width: 462px;
}



.funny-img {
    display: flex;
    gap: 24px;
}

.img {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    margin-top: 48px;
}

#play-button {
    border-radius: 16px;
    width: 342px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(../images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;

}




.icon {
    padding-left: 65px;
}

.watch-now {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

#p-1,
#p-2,
#p-4 {
    width: 342px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 24px;
}

#p-3 {
    margin-top: 24px;
    width: 244px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 10px;
}


/* online-funny-video section end here */

/* play instantly section start here */


.play-instantly {
    margin-top: 120px;
    min-height: 726px;
    width: 68%;
    margin-left: 400px;
    margin-right: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-title {
    width: 341px;
    height: 180px;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.left-title span {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.left {
    margin-right: 100px;
    padding-bottom: 160px;
}



.left-desc {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
}

.right {
    margin-top: 120px;
    margin-left: 100px;
}

.right img {
    width: 634.833px;
    height: 650px;
}

.box-img {
    width: 300px;
    height: 340px;
    background-image: url("../images/Rectangle\ 66.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    background-color: #FFF;
    border: 10px solid #FFF;
    position: relative;
    bottom: 258px;
    right: 170px;
}

/* play instantly section end here */

/* games type start*/
.games-types-details{
    height: 427px;
    width: auto;
    margin: 0px 220px ;
}
.games-types {
    height: 427px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 25px;
}

.games-types p {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 29px 20px 28px 16px;
}

.games-types img {
    width: 60px;
    height: 60px;
    border-radius: 50px;

}

.game-1 {
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-1:hover {
    border: 2px solid red;
}

.game-1:hover p {
    color: red;
}

.game-2 {
    width: 281px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-2:hover {
    border: 2px solid red;
}

.game-2:hover p {
    color: red;
}




.game-3 {
    width: 281px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-3:hover {
    border: 2px solid red;
}

.game-3:hover p {
    color: red;
}




.game-4 {
    width: 295px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-4:hover {
    border: 2px solid red;
}

.game-4:hover p {
    color: red;
}




.game-5 {
    width: 231px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-5:hover {
    border: 2px solid red;
}

.game-5:hover p {
    color: red;
}




.game-6 {
    width: 299px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-6:hover {
    border: 2px solid red;
}

.game-6:hover p {
    color: red;
}




.game-7 {
    width: 317px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-7:hover {
    border: 2px solid red;
}

.game-7:hover p {
    color: red;
}



.game-8 {
    width: 244px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-8:hover {
    border: 2px solid red;
}

.game-8:hover p {
    color: red;
}



.game-9 {
    width: 262px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-9:hover {
    border: 2px solid red;
}

.game-9:hover p {
    color: red;
}