/* Work Sans added */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar design starts here */
.nav-container {
    min-height: 130px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
}

.nav-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
}

.nav-left img {
    width: 86.041px;
    height: 40px;
    object-fit: cover;

}

.nav-left p {
    text-align: center;
    font-size: 2.81rem;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
}

#nav-g {
    color: #FF42A5;
}

.nav-items {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.13rem;
    font-weight: 500;
}

.follow-us {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* nav bar design ends here */
/* banner design start here */
.banner-container {
    min-height: 700px;
    background-color: #FFF;
    display: flex;
}

.banner-left {
    width: 50%;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-goat-title {
    text-align: center;
    font-size: 5.94rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 24px;
    margin-top: 0px;
}

.banner-left-details p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 17px;
    position: relative;
    left: 8px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 41px;
}

.sign-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 21px 40px;
    border: none;
}

.rogue-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background-color: #4EC5F7;
    padding: 21px 40px;
    border: none;
}

.banner-right {
    display: flex;
    width: 50%;
    margin-left: 40px;
}

.banner-right img {
    height: 100%;
}

/* banner design end here */

/* online-funny-video section start here */

.online-funny-video {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 130px;
}

.funny-video-title {
    color: #0B0223;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

#funny-id {
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.funny-video-desc p {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.funny-video-des {
    height: 30px;
    width: 462px;
}




.image__description {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}


.funny-img {
    display: flex;
    gap: 24px;
}

#p-1,
#p-2,
#p-3,
#p-4 {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 18px;
}

.box {
    position: relative;
    width: 342px;
    height: 400px;
    
}

.box img {
    width: 342px;
    height: 400px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid #FF42A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease;
    border-radius: 16px;
}

.overlay i {
    font-size: 40px;
    color: white;
}

.overlay p {
    margin-top: 10px;
    font-weight: bold;
}

.box:hover .overlay {
    opacity: 1;
}

.box:hover {
    box-shadow: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}



/* online-funny-video section end here */

/* play instantly section start here */


.play-instantly {
    margin-top: 150px;
    height: 726px;
    width: 68%;
    margin-left: 400px;
    margin-right: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-title {
    width: 341px;
    height: 180px;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.left-title span {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.left {
    margin-right: 100px;
    padding-bottom: 160px;
}



.left-desc {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
}
.right-play-instantly{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    margin-top: 120px;
    margin-left: 100px;
}

.right img {
    width: 634.833px;
    height: 650px;
    border-radius: 8px;
    object-fit: cover;
}

.box-img {
    width: 318px;
    height: 365px;
    background-image: url("../images/Rectangle\ 66.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    background-color: #FFF;
    border: 10px solid #FFF;
    position: relative;
    bottom: 258px;
    right: 170px;
}

/* play instantly section end here */

/* games type start*/
.games-types-details {
    min-height: 427px;
    margin: 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.games-types {
   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 25px;
}

.games-types p {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 29px 20px 28px 16px;
}

.games-types img {
    width: 60px;
    height: 60px;
    border-radius: 50px;

}

.game-1 {
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-1:hover {
    border: 2px solid red;
}

.game-1:hover p {
    color: red;
}

.game-2 {
    width: 281px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-2:hover {
    border: 2px solid red;
}

.game-2:hover p {
    color: red;
}




.game-3 {
    width: 281px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-3:hover {
    border: 2px solid red;
}

.game-3:hover p {
    color: red;
}




.game-4 {
    width: 295px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-4:hover {
    border: 2px solid red;
}

.game-4:hover p {
    color: red;
}




.game-5 {
    width: 231px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-5:hover {
    border: 2px solid red;
}

.game-5:hover p {
    color: red;
}




.game-6 {
    width: 299px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-6:hover {
    border: 2px solid red;
}

.game-6:hover p {
    color: red;
}




.game-7 {
    width: 317px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-7:hover {
    border: 2px solid red;
}

.game-7:hover p {
    color: red;
}



.game-8 {
    width: 244px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-8:hover {
    border: 2px solid red;
}

.game-8:hover p {
    color: red;
}



.game-9 {
    width: 262px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-color 0.3s, color 0.3s;
}

.game-9:hover {
    border: 2px solid red;
}

.game-9:hover p {
    color: red;
}


/* footer design start here */
.footer-container {
    min-height: 636px;
    background-color: #0B0223;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

}


.footer-1 p {
    text-align: center;
    font-size: 2.83rem;
    font-weight: 700;
    color: #FFF;
    margin-left: 20px;
}

.footer-1 span {
    color: #FF42A5;

}

.footer-1 img {
    width: 86.041px;
    height: 40px;
    object-fit: cover;
}

.footer-2 {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 65px;
}

.footer-2 small {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer2-1,
.footer2-2 {
    display: flex;
    gap: 60px;


}

.footer-3 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    font-size: 40px;
}

.footer3-1,
.footer3-2 {
    display: flex;
    gap: 40px;
}

.footer-3 span {
    width: 40px;
    height: 40px;
}

.footer-4 {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
}

.footer-4 small {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;
}

.footer4-1,
.footer4-2 {
    display: flex;
    gap: 60px;
}

.footer-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 18px;
    padding: 10px;
}

.footer-5 small {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;
}

/* footer design end here */